
@{
    ViewBag.Title = "HomeInner";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<FashionShop.Models.EF.sanpham> bestseller = ViewData["bestseller"] as List<FashionShop.Models.EF.sanpham>;
    List<FashionShop.Models.EF.sanpham> newproduct = ViewData["newproduct"] as List<FashionShop.Models.EF.sanpham>;
}
<section class="homepage-slider" id="home-slider">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="~/themes/images/carousel/banner-1.jpg" alt="" />
            </li>
            <li>
                <img src="~/themes/images/carousel/banner-2.jpg" alt="" />
                <div class="intro">
                    <h1>Mid season sale</h1>
                    <p><span>Up to 50% Off</span></p>
                    <p><span>On selected items online and in stores</span></p>
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="tent">
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span12">
                    <h4 class="title">
                        <span class="pull-left"><span class="text"><span class="line">SẢN PHẨM <strong>BÁN CHẠY NHẤT</strong></span></span></span>
                        <span class="pull-right">
                            <a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
                        </span>
                    </h4>
                    <div id="myCarousel" class="myCarousel carousel slide">
                        <div class="carousel-inner">
                            <div class="active item">
                                <ul class="thumbnails">
                                    @foreach (var sp in bestseller.Take(3))
                                    {
                                        <li class="span4">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <a href="/Product/Product_Detail/@sp.MASP"><img alt="ảnh" src="~/themes/images/Image/@sp.HINHANH"></a><br />
                                                <a href="/Product/Product_Detail/@sp.MASP" class="title">@sp.TENSP</a><br />
                                                <a href="/Product/ProductByType/@sp.LOAISP" class="category">@sp.LOAISP</a>
                                                <p class="price">@sp.GIA</p>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="item">
                                <ul class="thumbnails">
                                    @foreach (var sp in bestseller.Skip(3).Take(3))
                                    {
                                        <li class="span4">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <a href="/Product/Product_Detail/@sp.MASP"><img alt="ảnh" src="~/themes/images/Image/@sp.HINHANH"></a><br />
                                                <a href="/Product/Product_Detail/@sp.MASP" class="title">@sp.TENSP</a><br />
                                                <a href="/Product/ProductByType/@sp.LOAISP" class="category">@sp.LOAISP</a>
                                                <p class="price">@sp.GIA</p>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="item">
                                <ul class="thumbnails">
                                    @foreach (var sp in bestseller.Skip(6))
                                    {
                                        <li class="span4">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <a href="/Product/Product_Detail/@sp.MASP"><img alt="ảnh" src="~/themes/images/Image/@sp.HINHANH"></a><br />
                                                <a href="/Product/Product_Detail/@sp.MASP" class="title">@sp.TENSP</a><br />
                                                <a href="/Product/ProductByType/@sp.LOAISP" class="category">@sp.LOAISP</a>
                                                <p class="price">@sp.GIA</p>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="span12">
                    <h4 class="title">
                        <span class="pull-left"><span class="text"><span class="line">SẢN PHẨM<strong> MỚI</strong></span></span></span>
                        <span class="pull-right">
                            <a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
                        </span>
                    </h4>
                    <div id="myCarousel-2" class="myCarousel carousel slide">
                        <div class="carousel-inner">
                            <div class="active item">
                                <ul class="thumbnails">
                                    @foreach (var sp in newproduct.Take(3))
                                    {
                                        <li class="span4">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <a href="/Product/Product_Detail/@sp.MASP"><img alt="ảnh" src="~/themes/images/Image/@sp.HINHANH"></a><br />
                                                <a href="/Product/Product_Detail/@sp.MASP" class="title">@sp.TENSP</a><br />
                                                <a href="/Product/ProductByType/@sp.LOAISP" class="category">@sp.LOAISP</a>
                                                <p class="price">@sp.GIA</p>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="item">
                                <ul class="thumbnails">
                                    @foreach (var sp in newproduct.Skip(3).Take(3))
                                    {
                                        <li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <a href="/Product/Product_Detail/@sp.MASP"><img alt="ảnh" src="~/themes/images/Image/@sp.HINHANH"></a><br />
                                                <a href="/Product/Product_Detail/@sp.MASP" class="title">@sp.TENSP</a><br />
                                                <a href="/Product/ProductByType/@sp.LOAISP" class="category">@sp.LOAISP</a>
                                                <p class="price">@sp.GIA</p>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="item">
                                <ul class="thumbnails">
                                    @foreach (var sp in newproduct.Skip(6))
                                    {
                                        <li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <a href="/Product/Product_Detail/@sp.MASP"><img alt="ảnh" src="~/themes/images/Image/@sp.HINHANH"></a><br />
                                                <a href="/Product/Product_Detail/@sp.MASP" class="title">@sp.TENSP</a><br />
                                                <a href="/Product/ProductByType/@sp.LOAISP" class="category">@sp.LOAISP</a>
                                                <p class="price">@sp.GIA</p>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row feature_box">
                <div class="span4">
                    <div class="service">
                        <div class="responsive">
                            <img src="themes/images/feature_img_2.png" alt="" />
                            <h4>MODERN <strong>DESIGN</strong></h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="service">
                        <div class="customize">
                            <img src="themes/images/feature_img_1.png" alt="" />
                            <h4>FREE <strong>SHIPPING</strong></h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="service">
                        <div class="support">
                            <img src="themes/images/feature_img_3.png" alt="" />
                            <h4>24/7 LIVE <strong>SUPPORT</strong></h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</section>
<script src="themes/js/common.js"></script>
<script src="themes/js/jquery.flexslider-min.js"></script>
<script type="text/javascript">
            $(function () {
                $(document).ready(function () {
                    $('.flexslider').flexslider({
                        animation: "fade",
                        slideshowSpeed: 4000,
                        animationSpeed: 600,
                        controlNav: false,
                        directionNav: true,
                        controlsContainer: ".flex-container" // the container that holds the flexslider
                    });
                });
            });
</script>